<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajoutez des entrées</title>
   
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  
        <button type="submit">Enregistrer</button>
    </form>
    <p>Ajouter les <a href="{% url 'categorie' %}">catégorie</a></p><br> <br> 
  
    <p>Revenir <a href="{% url 'acceuil' %}">à l'acceuil</a></p> 
</body>
</html>