<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails sur {{ personnels.last_name }} </title>
</head>
<body>
    <center>
        
    <h1>DETAILS sur {{ personnels.last_name }} </h1><br>

    <h2>{{ personnels.last_name }} {{ personnels.first_name }}</h2>
    <img src="{{ personnels.photo.url }}" alt="{{ personnels.last_name }} {{ personnels.first_name }}" width="150">
    <p>Phone: {{ personnels.tel }}</p>
    <p>Email: {{ personnels.email }}</p>
    <p>Date de naissance: {{ personnels.date_naissance }}</p>
    <p>Adresse: {{ personnels.adresse }}</p>
    <p>Date d'embauche: {{ personnels.date_embauche }}</p>
    <p>Type de personnel: {{ personnels.type_personnel }}</p>
    <p>Genre: {{ personnels.sexe }}</p>
    <p>Phone: {{ personnels.tel }}</p>
    
    <a style="text-decoration: none" href="{% url 'modifier_personnel' personnels.id %}">Modifier</a>
    <p>Back to <a href="{% url 'personnelsliste' %}">Listes des personnels</a></p>

</center>
    </body>
    </html>