<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier la Sortie de {{ sortie.description }}</title>
</head>
<body>
    <center>
        <h1>Modifier la sortie</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enregistrer les modifications</button>
        </form>
    </center>
</body>
</html>
