<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajoutez des personnels</title>
   
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  
        <button type="submit">Enregistrer</button>
    </form>
  
    <p>Revenir <a href="{% url 'acceuil' %}">à l'acceuil</a></p> 
    <button style="font-size: medium;" onclick="window.location.href='{% url 'deconnexion' %}'">Se déconnecter</button>
</body>
</html>